boto3==1.9.75
botocore==1.12.75
certifi==2018.11.29
chardet==3.0.4
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.8.2
docutils==0.14
en-core-web-sm==2.0.0
h5py==2.9.0
idna==2.8
jmespath==0.9.3
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nltk==3.4
numpy==1.15.4
plac==0.9.6
preshed==2.0.1
python-dateutil==2.7.5
pytorch-pretrained-bert==0.4.0
PyYAML==3.13
regex==2018.1.10
requests==2.21.0
s3transfer==0.1.13
scikit-learn==0.20.2
scipy==1.2.0
seqeval==0.0.5
singledispatch==3.4.0.3
six==1.12.0
spacy==2.0.18
thinc==6.12.1
toolz==0.9.0
torch==1.0.0
tqdm==4.29.0
ujson==1.35
urllib3==1.24.1
wrapt==1.10.11
